CMakeCache.txt
CMakeFiles/
Makefile
RPMS/
cmake_install.cmake
daemon/CMakeFiles/
daemon/Makefile
daemon/cmake_install.cmake
daemon/voicecallfilterd
daemon/voicecallfilterd_autogen/
documentation.list
install_manifest.txt
lib/CMakeFiles/
lib/Makefile
lib/cmake_install.cmake
lib/filterservice_adaptor.cpp
lib/filterservice_adaptor.h
lib/filterservice_proxy.cpp
lib/filterservice_proxy.h
lib/libvoicecallfilter.so
lib/libvoicecallfilter.so.0
lib/libvoicecallfilter.so.0.1
lib/voicecallfilter_autogen/
plugin/CMakeFiles/
plugin/Makefile
plugin/cmake_install.cmake
plugin/voicecallfilterplugin.so
plugin/voicecallfilterplugin_autogen/
tests/tst_filterlist
tests/tst_filterlist_autogen/
