[Unit]
Description=Voice call filter daemon
Requires=booster-qt5.service

[Service]
Type=simple
ExecStart=/usr/bin/invoker -o --type=generic /usr/bin/voicecallfilterd
Restart=on-failure
RestartSec=1

[Install]
WantedBy=user-session.target
